@import "../../public/colors";

.textStyle {
  padding: 1rem;
  color: transparentize($color: $DarkSlateGrey, $amount: 0.1);

  ul {
    list-style: none;
    padding: 0.5rem;

    li {
      // background: url(images/icon-list.svg);
      background-repeat: no-repeat;
      background-position: left;
      margin-top: 0.2rem;
      padding: 5px;
      padding-left: 2em;

    }
    li::before{
      content: "";
      background-image: url(images/icon-list.svg);
      width: 1.5rem;
      height: 1.5rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      margin-left: -2rem;
      vertical-align: middle;
      
    }
    
    
  }

  h1 {
    color: transparentize($color: $DarkSlateGrey, $amount: 0);
    font-size: 2rem;
    letter-spacing: -1px;
   
    
  }
}
