@import "../../public/colors";

.card {
  background-color: $White;
  color: transparentize($color: $DarkSlateGrey, $amount: 0);
  height: 80vh;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  button {
    padding: 1rem;
    display: block;
    width: 100%;
    font-family: inherit;
    margin-bottom: 2em;

    border: none;
    color: $White;
    background-color: $DarkSlateGrey;
    border-radius: $DelicateBorderRadius;

    &:hover,
    &:active {
      background: linear-gradient(90deg, $Pink, $Orange);
      cursor: pointer;
    }
  }
}

@media (min-width: 375px) {
  .card {
    max-width: 35ch;
    height: auto;
    border-radius: 1.5rem;
  }
}
