@import "../public/colors";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}
body {
  padding: 0;
  margin: 0;
  background-color: $CharcoalGrey;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cardContainer {
  background-color: $White;
}



@media (min-width: 376px) {
  .cardContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    border-radius: 1.2rem;
  }

}
